.project-container {
    position: relative;

    .project-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        position: relative;
        width: 90%;
        min-height: 6rem;
        margin: 2rem auto;
        background-color: pink;

        h2 {
            margin: 0;
        }
        h3 {
            margin: 0;
            color: #000;

        }
        .project-desc {
            font-size: 2rem;
            display: block;
            width: 50%;
        }
        .project-title {
             max-width: 200px;
            
        }
    }
}

