$primary-color: #A7C957;

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: flash 1s;
    color: $primary-color;
  }
}

.text-animate-color {
  color: $primary-color;
    transition-property: color;
    transition-duration: 2s;

}

@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}
