$primary-color: #A7C957;

.home-page {
    animation: fadeIn 1s 1.8s forwards;
    
    animation-delay: 1s;
    .text-zone {
        position: absolute;
        left: 10%;
        //top: 50%;
        //transform: translateY(-50%);
        width: 40%;
        //max-height: 90%;

    }
    h1 {

        color: #fff;
        font-size: 80px;
        margin: 0;
        font-family: 'Eckmann';
        font-weight: 400;
    }

    // TODO: add secondary color etc
    h2 {
        box-shadow: 0 0 50px 0px lightyellow;
        background-color: white;
        border-radius: 20px;
        padding: 10px 20px;

        //border-top: 1px solid #333;
        color: #c0257a;
        margin-top: 20px;
        font-family: 'Gemini', sans-serif;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;

    }

    .flat-button {
        color: $primary-color;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: $primary-color;
            color: #333;
        }

    }
}

.contents {
    height: 800px;
    width: 100%;
    background-color: blue;
    display: inline-block;
    z-index: -1;

}