$primary-color: #a7c957;

.home-page {
  animation: fadeIn 1s 1.8s forwards;

  animation-delay: 1s;
  .text-zone {
    margin: 20px 0px;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    width: 70%;
    //left: 10%;
    //right: 10%;
    
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    text-align: center;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    //transform: translateY(-50%);
    //width: 40%;
    //max-height: 90%;
    //position: relative;
    // border: 5px solid yellow;
    // outline: 5px solid lightcoral;
    // outline-offset: -20px;
    // background: rgb(213, 139, 255);
    // background: radial-gradient(
    //   circle,
    //   rgba(213, 139, 255, 0.5) 0%,
    //   rgba(202, 53, 255, 0.5) 100%
    // );
  }
  h1 {
    margin: 200px 0 0 0;
    position: relative;
    color: rgb(29, 32, 22);
    font-size: 80px;
    //margin: 0;
    font-family: 'Eckmann';
    font-weight: 400;
    //z-index: 100;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;


  }

  // TODO: add secondary color etc
  h2 {
    //box-shadow: 0 0 50px 0px lightyellow;
    //background-color: white;
    //border-radius: 20px;
    //padding: 10px 20px;

    //border-top: 1px solid #333;
    color: #852e80;
    margin: 10px;
    //font-family: 'Gemini';
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    
    //position: relative;
  }

  .flat-button {
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: Eckmann;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    margin: 20px 10px;
    //float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: black;
      color: white;
      text-shadow: 0 0 4px rgba(255,255,255,0.5),
      0 0 5px rgba(255,255,255,0.5),
      0 0 11px rgba(255,255,255,0.5),
      0 0 21px rgba(255,175,241,0.5),
      0 0 41px rgba(255,175,241,0.5),
      0 0 46px rgba(255,175,241,0.5),
      0 0 51px rgba(255,175,241,0.5),
      0 0 75px rgba(255,175,241,0.5);
    }
  }
}

.contents {
  position: relative;
  top: 0;
  height: 700px;
  width: 500px;
  background-color: wheat;
  display: inline-block;
  opacity: 0;
  
}

.testText {
  position: absolute;
  width: 400px;
  height: auto;
  right: 0;
}

.computerImg {
    z-index: 20;
  position: absolute;
  width: 600px;
  height: auto;
  right: 0;
  bottom: 0;
  //opacity: 0.5;
  //background-color: #A7C957;
  filter: sepia(100%) saturate(100%) brightness(70%) hue-rotate(200deg);

  mix-blend-mode:hue;
}

.frame {
  position: absolute;
  z-index: 20;
  left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    width: 900px;
    height: 800px;
}
