$primary-color: #A7C957;

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2');
}

@font-face {
  font-family: 'Eckmann';
  src: url('./assets/fonts/Eckmann.woff2') format('woff2');
}

@font-face {
  font-family: 'Gemini';
  src: url('./assets/fonts/Auto\ Mission.woff2') format('woff2');
}

@font-face {
  font-family: 'Gothic Coding Regular';
  src: url('./assets/fonts/NanumGothicCoding-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Gothic Coding Bold';
  src: url('./assets/fonts/NanumGothicCoding-Bold.woff2') format('woff2');
}

input,
textarea {
  font-family: 'Gemini', sans-serif;
}